{% extends 'base.html' %}

{% load static %}

{% load posts_tags %}

{% load crispy_forms_tags %}

{% block title %} {{ post.title }} {% endblock %}

{% block meta %}
  <meta content="" name="description">
  <meta property="og:title" content="{{ post.title }}"/>
  <meta property="og:url" content="{{ post.get_absolute_url }}" />
  <meta property="og:description" content="">
  <meta property="og:image" content="{% static 'img/favicon.png' %}">
  <meta property="og:type" content="article" />
{% endblock meta %}

{% block content %}

<style>
  .article-content img {
    width: 100%;
  }
  .asteriskField {
    display: none;
  }

</style>

{% include 'intro-skew.html' %}


  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              <img src="{{ post.thumbnail.url }}" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">{{ post.title }}</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  {{ post.author.first_name }} {{ post.author.last_name }}
                </li>
                <li>
                  <span class="ion-android-share"></span>
                  <a href="{% url 'posts:post_share' post.id %}">Share</a>
                </li>
                
                <li>
                  <span class="ion-chatbox"></span>
                  {{ comments.count }}
                </li>

                <li>
                  <span class="ion-ios-clock-outline"></span>
                  {{ article_reading_time }} min
                </li>
{% comment %}                 
                {% if request.user.is_authenticated %}
                
                <li>
                  <span class="ion-trash-b"></span>
                  <a href="{% url 'post_delete' id=post.id %}">Delete</a>
                </li>
                {% endif %} {% endcomment %}
              </ul>
            </div>
            <div class="article-content">
              {{ post.body|markdown }}
            </div>
          </div>
          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">{{ comments.count }} Comment{{ comments.count|pluralize }}</h4>
            </div>
            <ul class="list-comments">
              {% for comment in comments %}
              <li>
                <div class="comment-avatar">
                  <img src="{% static 'img/avatar.png' %}" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ comment.name }}</h4>
                  <span>{{ comment.created|date }}</span>
                  <p>
                    {{ comment.body|linebreaks }}
                  </p>

                  {% comment %}
                  {% if request.user.is_authenticated %}
                  
                  
                  <a href="">Reply</a>
                  <div class="form-comments rf">
                    <div class="title-box-2">
                      <h3 class="title-left">
                        Leave a Reply
                      </h3>
                    </div>
                    <form action="." method="POST" class="form-mf">
                      <div class="row">
                        {% csrf_token %}
                        
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            {{ form.name|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            {{ form.email|as_crispy_field }}                    
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form.website|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form.content|as_crispy_field }}
                          </div>
                        </div>
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  {% endif %}{% endcomment %}
                </div>
              </li>
              {% comment %}
              {% for reply in comment.replies.all %}
              <li class="comment-children">
                <div class="comment-avatar">
                  {% if request.user == comment.post.author %}
                  <img src="{{ comment.post.author.profile_picture.url }}" alt="">
                  {% else %}
                  <img src="{% static 'img/testimonial-2.jpg' %}" alt="">
                  {% endif %}
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ reply.name }}</h4>
                  <span>{{ reply.timestamp|date }}</span>
                  <p>
                    {{ reply.content }}
                  </p>

                  
                </div>
              </li>
              {% endfor %}
              {% endcomment %}
              {% empty %}
              <li>
                <p>No comments</p>
              </li>
              {% endfor %} 
            </ul>
          </div>
          <div class="form-comments">
            {% if new_comment %}
            <div class="title-box-2">
              <h3 class="title-left">
                Your comment has been added
              </h3>
            </div>
            {% else %}
            <div class="title-box-2">
              <h3 class="title-left">
                Add a new comment
              </h3>
            </div>
            <form action="." method="POST" class="form-mf" novalidate>
              <div class="row">
                {% csrf_token %}
                
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    {{ comment_form.name|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    {{ comment_form.email|as_crispy_field }}                    
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    {{ comment_form.body|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Comment</button>
                </div>
              </div>
            </form>
            

            {% endif %}
          </div>
        </div>
        {% include 'sidebar.html' with similar_posts=similar_posts display_title=display_title post=post %}
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    {% include 'footer.html' %}    
  </section>
  <!--/ Section Contact-footer End /-->
{% comment %} 
  <script>

    const REPLYFORM = document.querySelector("form-mf")
    const REPLYBTN = document.querySelector("#btn-reply")
    REPLYBTN.addEventListener('click', function(e){
      e.preventDefault();
      REPLYFORM.submit();
    })
  
  </script> {% endcomment %}
  

  {% endblock content %}
