{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<style>
  .article-content img {
    width: 100%;
  }
  .asteriskField {
    display: none;
  }

</style>

{% include 'intro-skew.html' %}


  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              <img src="{{ post.thumbnail.url }}" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">{{ post.title }}</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">{{ post.author }}</a>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  {% for cat in post.categories.all %}
                  <a href="#">{{ cat }}</a>
                  {% endfor %}
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">{{ post.comments.count }}</a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="{% url 'post_update' id=post.id %}">Update</a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="{% url 'post_delete' id=post.id %}">Delete</a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              {{ post.content|safe }}
            </div>
          </div>
          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">Comments ({{ post.comments.count }})</h4>
            </div>
            <ul class="list-comments">
              {% for comment in comments %}
              <li>
                <div class="comment-avatar">
                  {% if request.user == comment.post.author.user %}
                  <img src="{{ comment.post.author.profile_picture.url }}" alt="">
                  {% else %}
                  <img src="{% static 'img/testimonial-2.jpg' %}" alt="">
                  {% endif %}
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ comment.name }}</h4>
                  <span>{{ comment.timestamp|date }}</span>
                  <p>
                    {{ comment.content }}
                  </p>
                  <a href="">Reply</a>
                  {% comment %}<div class="form-comments rf">
                    <div class="title-box-2">
                      <h3 class="title-left">
                        Leave a Reply
                      </h3>
                    </div>
                    <form action="." method="POST" class="form-mf">
                      <div class="row">
                        {% csrf_token %}
                        
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            {{ form.name|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            {{ form.email|as_crispy_field }}                    
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form.website|as_crispy_field }}
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{ form.content|as_crispy_field }}
                          </div>
                        </div>
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>{% endcomment %}
                </div>
              </li>
              {% for reply in comment.replies.all %}
              <li class="comment-children">
                <div class="comment-avatar">
                  {% if request.user == comment.post.author.user %}
                  <img src="{{ comment.post.author.profile_picture.url }}" alt="">
                  {% else %}
                  <img src="{% static 'img/testimonial-2.jpg' %}" alt="">
                  {% endif %}
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ reply.name }}</h4>
                  <span>{{ reply.timestamp|date }}</span>
                  <p>
                    {{ reply.content }}
                  </p>
                  <a href="3">Reply</a>

                  
                </div>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          <div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave a Reply
              </h3>
            </div>
            <form action="." method="POST" class="form-mf" novalidate>
              <div class="row">
                {% csrf_token %}
                
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    {{ form.name|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    {{ form.email|as_crispy_field }}                    
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    {{ form.website|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    {{ form.content|as_crispy_field }}
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% include 'sidebar.html' with most_recent=most_recent queryset=queryset %}
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    {% include 'footer.html' %}    
  </section>
  <!--/ Section Contact-footer End /-->

  <!-- <script>

    const REPLYFORM = document.querySelector(".rf")
    const REPLYBTN = document.querySelector("#btn-reply")
    REPLYBTN.addEventListener('click', function(){
      REPLYFORM.classList.toggle(".show")
    })
  
  </script> -->
  

  {% endblock content %}
